    <nav class="bg-gray-800 p-4 md:hidden">
      <div class="flex items-center justify-between">
        <%= link_to "Myplan", root_path, class: "text-xl font-semibold text-blue-500" %>
        <button id="mobile-menu-button" class="text-white" onclick="toggleMobileMenu()">
          <i class="bi bi-list"></i>
        </button>
      </div>
    </nav>


    